<?xml version="1.0" encoding="UTF-8"?>
<!-- For documentation see:
https://logging.apache.org/log4j/2.x/manual/configuration.html
https://logging.apache.org/log4j/2.x/manual/layouts.html#PatternLayout
-->
<Configuration status="ERROR" name="Moqui" shutdownHook="disable" packages="org.moqui.context">
    <Properties>
        <!-- the ${sys:moqui.runtime} expansion fails under Tomcat/etc as moqui.runtime isn't set before Log4J2
            initializes (like with MoquiStart.java), so specify a default property here -->
        <Property name="moqui.runtime">moqui_logs</Property>
    </Properties>
    <Appenders>
        <RollingFile name="LogFile" fileName="${sys:moqui.runtime}/log/moqui.log"
                filePattern="${sys:moqui.runtime}/log/moqui%d{yyyy-MM-dd}-%i.log">
            <PatternLayout pattern="--- %d{yyyy-MM-dd HH:mm:ss.SSS} [%15.15t] %-5p %50.50c %x%n %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingFile>
        <RollingFile name="ErrorFile" fileName="${sys:moqui.runtime}/log/error.log"
                filePattern="${sys:moqui.runtime}/log/error%d{yyyy-MM-dd}-%i.log">
            <PatternLayout pattern="--- %d{yyyy-MM-dd HH:mm:ss.SSS} [%15.15t] %-5p %50.50c [%l] %x%n %m%n"/>
            <ThresholdFilter level="ERROR" onMatch="ACCEPT" onMismatch="DENY"/><!-- should get error and fatal -->
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingFile>
        <MoquiLog4jAppender name="MoquiSubscribers"/>
        <Async name="AsyncLog">
            <AppenderRef ref="STDOUT"/>
            <AppenderRef ref="LogFile"/>
            <AppenderRef ref="ErrorFile"/>
            <AppenderRef ref="MoquiSubscribers"/>
        </Async>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="%highlight{%d{HH:mm:ss.SSS} %5p %12.12t %38.38c{1.9.1.}} %m%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="org.apache" level="warn"/>
        <Logger name="org.apache.fop.fo.extensions.svg.SVGElementMapping" level="fatal"/>

        <Logger name="freemarker" level="warn"/>
        <Logger name="org.elasticsearch" level="warn"/>
        <Logger name="org.drools" level="info"/>
        <Logger name="atomikos" level="warn"/>
        <Logger name="com.atomikos" level="warn"/>
        <Logger name="bitronix" level="warn"/>
        <Logger name="cz.vutbr" level="warn"/><!-- cssbox -->

        <!-- show Groovy generated from XML Actions:
        <Logger name="org.moqui.impl.actions.XmlAction" level="debug"/> -->
        <!-- show SQL generated for finds:
        <Logger name="org.moqui.impl.entity.EntityFindBuilder" level="debug"/> -->
        <!-- show SQL generated for crud ops:
        <Logger name="org.moqui.impl.entity.EntityQueryBuilder" level="debug"/> -->

        <Logger name="org.moqui" level="info"/>

        <Root level="info"><AppenderRef ref="AsyncLog"/></Root>
    </Loggers>
</Configuration>
