<configuration debug="true">
    <!-- Add a Status Listener for debugging logback initialization problems -->
    <statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener" />

    <!-- Console Appender -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %highlight(%-5level) %-36.36logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Log File with Size and Time Based Rolling Policy -->
    <appender name="LogFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${moqui.log.directory}/moqui-live-logback.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${moqui.log.directory}/moqui-live-logback.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>5MB</maxFileSize>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d %-5level %-36.36logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Error Log File with Size and Time Based Rolling Policy -->
    <appender name="ErrorFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${moqui.log.directory}/moqui-error-logback.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${moqui.log.directory}/moqui-error-logback.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>5MB</maxFileSize>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d %-5level %-36.36logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Logger Levels -->
    <logger name="org.moqui" level="info" />
    <logger name="org.apache" level="warn" />
    <logger name="org.apache.fop.fo.extensions.svg.SVGElementMapping" level="fatal" />
    <logger name="freemarker" level="warn" />
    <logger name="org.elasticsearch" level="warn" />
    <logger name="org.drools" level="info" />
    <logger name="atomikos" level="warn" />
    <logger name="com.atomikos" level="warn" />
    <logger name="bitronix" level="warn" />
    <logger name="cz.vutbr" level="warn" />
    <logger name="org.moqui.impl.actions.XmlAction" level="info" />
    <logger name="org.moqui.impl.entity.EntityFindBuilder" level="info" />
    <logger name="org.moqui.impl.entity.EntityQueryBuilder" level="info" />
    <logger name="ars.closure.ClosureHandler" level="${sys:moqui.logger.level.closure}" />

    <!-- Root Logger -->
    <root level="info">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="LogFile" />
        <appender-ref ref="ErrorFile" />
    </root>
</configuration>