# Moqui Framework Service
apiVersion: v1
kind: Service
metadata:
  name: moqui
  labels:
    app.kubernetes.io/name: moqui
    app.kubernetes.io/component: service
spec:
  type: ClusterIP
  ports:
    - port: 80
      targetPort: http
      protocol: TCP
      name: http
  selector:
    app.kubernetes.io/name: moqui
